#animal-pic {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  border-radius: 50%;
}

.jumbotron {
  background: rgba(255, 255, 255, 0.0);
  height: 20%;
}

#animalBook {
  color: green;
}

h1, h3 {
  font-family: 'Averia Serif Libre', cursive;
}

.animal-list {
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
}

.container-fluid {
  margin-bottom: 55px;
}

#github {
  color: white;
  cursor: pointer;
}
